# OCR Configuration
OCR_DEVICE=cpu
OCR_LANGUAGE=fr
USE_DOC_ORIENTATION_CLASSIFY=true
USE_DOC_UNWARPING=false
USE_TEXTLINE_ORIENTATION=false

# API Configuration
APP_NAME="Image Recognition OCR Engine"
APP_VERSION=1.0.0
HOST=0.0.0.0
PORT=8000

# Output Directory
OUTPUT_DIR=outputs
